
   
    @media (min-width: 768px) {
  

      .navigation-menu-2__item--mobile-geometry-4 {
         margin-left: 0;
         width: 148.87px;
         height:24px;
      }
   
  
    }
   
    @media (min-width: 1120px) {
   
     
      
         .navigation-menu-2__item--mobile-geometry-4 {
            margin-left: 0;
            width: 217px;
            height:24px;
         }
   
  
   
   
   
   
    }