
@media (min-width: 320px) { 


      .page-service {
         margin:0;
         width: 320px;
         display: flex;
         flex-direction: column;
      }
  
   
    }
   
    @media (min-width: 768px) {


      
      .page-service {
         margin:0;
         width: 768px;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         
      }
   
   
    }
   
    @media (min-width: 1120px) {

         
         .page-service {
            margin:0;
            width: 1120px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
         }
 
   
   
    }