$tablet: 768px;
$desktop: 1440px;

body {
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  height: 597px;
  background-color: #f8f8f8;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden !important;
  min-height: 1810px;
  max-height: 1930px;
  flex-grow: 1;

  @media (min-width: $tablet) {
    min-width: 768px;
    min-height: 1857px;
    max-width: 2300px;
  }

  @media (min-width: $desktop) {
    flex-grow: 1;
    min-width: 1440px;
    max-width: 1980px;
    min-height: 1990px;
    max-height: 2400px;
    margin-left: 0;
    margin-right: auto;
    display: flex;
  }
}
