body {
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  height: 597px;
  background-color: #f8f8f8;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden !important;
}

@media (min-width: 768px) {
  body {
    min-width: 768px;
    height: 504px;
  }
}

@media (min-width: 1440px) {
  body {
    min-width: 1440px;
    max-width: 1980px;
    height: 535px;
    display: flex;
  }
}
