$tablet: 768px;
$desktop: 1440px;

.divider-one::after {
  content: "";
  display: table;
  width: 2px;
  height: 32px;
  background: #eaeaea;
  border-radius: 1px;
  position: absolute;
  left: 50%;

  @media (min-width: $tablet) {
    display: none;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}
