$tablet: 768px;

.expand__text {
  margin-left: 16px;
  color: #1b1c21;
  font-size: 16px;
  line-height: 24px;
}

.expand {
  display: none;
  border: #f8f8f8;
  background-color: #f8f8f8;
  margin-left: -8px;

  @media (min-width: $tablet) {
    display: flex;
  }
}

.page-service .expand {
  display: flex;
}

.expand-margin-top {
  margin-top: 100px;
}

.expand__icon {
  width: 24px;
  height: 24px;

  margin-top: 15px;
}

.expand__icon-rotate {
  transform: rotate(180deg);
}
