$tablet: 768px;
$desktop: 1440px;

.header__wrap-margin-left {
  margin-left: 16px;

  @media (min-width: $tablet) {
    margin-left: 24px;
  }
}

.header__wrap-margin-right {
  margin-right: 16px;

  @media (min-width: $tablet) {
    margin-right: 40px;
  }
}

.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 320px;
  height: 88px;
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    min-width: 768px;
    height: 88px;
    margin: 0;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}
