$tablet: 768px;
$desktop: 1440px;

@media (min-width: $desktop) {
  .main-information {
    display: flex;
    flex-direction: column;
    min-width: 1120px;
    max-width: 1660px;
    flex-grow: 1;
  }
}
