$tablet: 768px;
$desktop: 1440px;

@media(min-width: $desktop){
.modals{
  position: absolute;
  min-width: 1440px;

}
}

.modals__message {
  display: none;
  z-index: 10;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;

  
@media (min-width: $desktop) {
  
    min-width: 1440px;
    top: -15px;
  
}
}

.modals__message--visible {
  display: flex;
  overflow: hidden;
  position: fixed;
  
}


.modals__call {
  display: none;
  z-index: 10;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  
@media (min-width: $desktop) {
 
    width: 100%;
    top: -15px;
  
}

}

.modals__call--visible {
  display: flex;
}


.modals__text {
  width: 288px;
  height: 64px;
  display: block;
  color: #7e7e82;
  margin: 0 auto;
  margin-bottom: 23px;

  
@media (min-width: $desktop) {

    width: 376px;
    height: 48px;
  
}

}
