$tablet: 768px;
$desktop: 1440px;

.option_text {
  display: none;

  @media (min-width: $tablet) {
    display: none;
  }

  @media (min-width: $desktop) {
    display: block;
    white-space: nowrap;
    font-weight: 400;
  }
}
