$tablet: 768px;
$desktop: 1440px;

.products-repair__repair-elements {
  margin-left: 16px;
}

.products-repair__technique-elements {
  margin-left: 16px;
}

.products-repair__order-services {
  margin-left: 16px;
}

@media (min-width: $tablet) {
  .products-repair__order-services {
    margin-left: 16px;
    margin-top: 63px;
  }
}

@media (min-width: $desktop) {
  .products-repair__order-services {
    margin-left: 16px;
    margin-top: 79px;
  }
}

.products-repair {
  min-width: 320px;
  height: 234px;
  background-color: #f8f8f8;
}

.products-repair:nth-child(3) {
  margin-top: 50px;
}

.products-repair--top-margin {
  margin-bottom: 140px;
}

@media (min-width: $tablet) {
  .products-repair {
    height: 324px;
  }

  .products-repair:nth-child(3) {
    height: 500px;
  }
}

@media (min-width: $desktop) {
  .products-repair {
    height: 356px;
  }

  .products-repair:nth-child(3) {
    height: 500px;
  }
}
