$tablet: 768px;
$desktop: 1440px;

.request-call {
  background-color: #fff;

  width: 320px;
  min-height: 940px;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);
}

@media (min-width: $desktop) {
  .request-call {
    width: 440px;
    min-height: 1770px;

    background: #ffffff;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
      16px 0px 52px rgba(14, 24, 80, 0.2);
  }
}

.request-call__button {
  margin-top: 24px;
  margin-left: 16px;
}

@media (min-width: $desktop) {
  .request-call__button {
    display: none;
  }
}

@media (min-width: $desktop) {
  .request-call__form {
    position: relative;
    top: 32px;
  }
}
