.technique-elements {
  width: 100%;
  height: 245px;
}

@media (min-width: 768px) {
  .technique-elements {
    height: 420px;
  }
}

.technique-elements__wrap {
  height: 160px;
  display: block;
  padding-right: 16px;
  margin-left: 16px;
  position: relative;
}

.technique-elements__link {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 2px #ff3e79;
  position: absolute;
  right: 16px;
  bottom: 28px;
  transition-duration: 3s;
  transition-property: transform;
}


.technique-elements__link:hover {
  transform: scale(1.3) rotate(360deg);
}

.technique-elements__image {
  position: absolute;
  left: 18px;
  top: 15px;
}

@media (min-width: 768px) {
  .technique-elements__list {
    display: flex;
    width: 770px;
    height: 194px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;

    overflow: hidden;
  }
}

@media (min-width: 1440px) {
  .technique-elements__list {
    width: 1056px;
    height: 194px;
  }
}

.technique-elements__list--visible {
  overflow: visible;
}

.technique-elements__item {
  height: 160px;
  width: 240px !important;
  margin-top: 24px;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 1px 0 #eaeaea, 0 1px #eaeaea, -1px 0 #eaeaea, 0 -1px #eaeaea;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .technique-elements__item {
    margin-right: 24px;
  }

  .technique-elements__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media (min-width: 1440px) {
  .technique-elements__item {
    margin-right: 32px;
  }

  .technique-elements__item:nth-child(4n) {
    margin-right: 0;
  }
}

.technique-elements__expand--margin-top-small {
  margin-top: 170px;
}

.technique-elements__expand--margin-top-big {
  margin-top: 180px;
}

.technique-elements__button-wrapper {
  width: 770px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1440px) {
  .technique-elements__button-wrapper {
    width: 1056px;
  }
}
