@font-face {
   font-family: TTLakes; /* Гарнитура шрифта */
   src: url(TTLakes-Medium.ttf); /* Путь к файлу со шрифтом */
  }

html {
   font-family: TTLakes;
}

* {/*для span например шрифт не работает если не унаследовать или не задать напрямую*/

   font-family: inherit;
}

