
@media (min-width: 320px) { 

   
   
   
      
   .navigation-menu-2__item--mobile-geometry-1 {
      width: 246px;
      height: 40px;
      margin-left:0;
      border:solid 2px #B8FFEC;
   
   }


 }

 @media (min-width: 768px) {

   
   
   .navigation-menu-2__item--mobile-geometry-1 {
      width: 248px;
      height: 40px;
      margin-left:0;
      border:solid 2px #B8FFEC;
   
   }


 }

 @media (min-width: 1120px) {


  
      .navigation-menu-2__item--mobile-geometry-1 {
         width: 233px;
         height: 40px;
         margin-left:0;
         border:solid 2px #B8FFEC;
      
      }
    

 }