

 @media (min-width: 768px) {



   .navigation-menu-2__item--mobile-geometry-3 {
      margin-left: 0;
      width: 128.17px;
      height:24px;
   }

 }

 @media (min-width: 1120px) {



   
      .navigation-menu-2__item--mobile-geometry-3 {
         margin-left: 0;
         width: 118px;
         height:39px;
      }
   
 
   
   




 }