.button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #ff3e79;
  border: solid #ff3e79;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button__message-icon {
  position: absolute;
  top: 8px;
  left: 8px;
}

.button__phone-icon {
  position: absolute;
  top: 9px;
  left: 9px;
}

@media (min-width: 1440px) {
  .button__service-icon {
    position: absolute;
    top: 8px;
    left: 9px;
  }
}

.button--display-top-menu {
  display: none;
}

@media (min-width: 768px) {
  .button--display-top-menu {
    display: none;
  }
}

@media (min-width: 1440px) {
  .button--display-top-menu {
    display: block;
  }
}

.button--display-none {
  display: none;
}

@media (min-width: 768px) {
  .button--display-block {
    display: block;
  }
}

@media (min-width: 1440px) {
  .button--display-none {
    display: none;
  }
}

.button__close {
  transition-property: transform;
  transition-duration: 2s;
}

.button__close:hover {
  transform: rotate(360deg);
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.button__phone-icon:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

.button__message-icon {
  transition-duration: 3s;
}

.button__message-icon:hover {
  transform: skew(30deg);
}

.button__person-icon {
  opacity: 1;
  transition-duration: 3s;
  transition-property: transform;
}

.button__person-icon:hover {
  transform: scale(2) rotate(720deg);
  opacity: 0.4;
}
