.commercial-offer {
  margin-top: 100px;
}

@media (min-width: 768px) {
  .commercial-offer {
    margin-top: 150px;

    width: 720px;

    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1440px) {
  .commercial-offer {
    width: 1056px;

    margin-left: auto;
    margin-right: auto;
  }
}

.commercial-offer__text {
  font-size: 14px;
  line-height: 20px;
  color: #1b1c21;
  letter-spacing: 0.2px;
  margin-left: 16px;
}

@media (min-width: 768px) {
  .commercial-offer__text {
    width: 421px;
    height: 60px;
    margin-right: auto;
    margin-left: 28px;
  }
}

.commercial-offer__link {
  display: block;
  margin-top: 16px;
  margin-left: 16px;
  color: #1b1c21;
}

@media (min-width: 768px) {
  .commercial-offer__link {
    margin-top: 32px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-right: auto;
    margin-left: 28px;
  }
}

.commercial-offer__line {
  display: inline-block;
  position: relative;
  top: 2px;
  margin-left: 10px;
}
