.divider-two::after {
  display: none;
}

@media (min-width: 768px) {
  .divider-two::after {
    content: "";
    display: table;
    width: 2px;
    height: 32px;
    background: #eaeaea;
    border-radius: 1px;
    position: absolute;
    right: 153px;
  }
}

@media (min-width: 1440px) {
  .divider-two::after {
    display: none;
  }
}
