.feedback {
  font-size: 24px;
  line-height: 32px;
  border-left: solid 4px #41f6d7;
  color: #1b1c21;
  height: 40px;
  width: 304px;
  padding-top: 10px;
  padding-left: 16px;
}

@media (min-width: 1440px) {
  .feedback {
    position: relative;
    top: 32px;
  }
}
