@font-face {
  font-family: TTLakes;
  /* Гарнитура шрифта */
  src: url(../fonts/TTLakes-Medium.ttf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: TTLakes-Bold;
  /* Гарнитура шрифта */
  src: url(../fonts/TTLakes-Bold.ttf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: TTLakes-Regular;
  /* Гарнитура шрифта */
  src: url(../fonts/TTLakes-Regular.ttf);
  /* Путь к файлу со шрифтом */
}
