.languages {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 16px;
}

@media (min-width: 360px) {
  .languages {
    margin-left: 24px;
  }
}

.languages__item {
  padding: 0;
  display: inline-block;
  margin-right: 3px;
}

.languages__button {
  /* отображаем курсор в виде руки при наведении; некоторые
   считают, что необходимо оставлять стрелочный вид для кнопок */
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.languages__item:hover {
  color: #7e7e82;
}
