.link {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 2px #ff3e79;
  position: relative;
}

.link___images {
  position: absolute;
  left: 18px;
  top: 15px;
}
