@keyframes move-search {
  0% {
    transform: translate(10px, 0);
  }
  20% {
    transform: translate(-20px, 0);
  }
  40% {
    transform: translate(10px, 0);
  }
  60% {
    transform: translate(0, 10px);
  }
  80% {
    transform: translate(0, -20px);
  }
  100% {
    transform: translate(0, 10px);
  }
}

.new-search:hover {
  animation-name: move-search;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
