.option_text {
  display: none;
}

@media (min-width: 768px) {
  .option_text {
    display: none;
  }
}

@media (min-width: 1440px) {
  .option_text {
    display: block;
    white-space: nowrap;
    font-weight: 400;
  }
}
