.repair-elements {
  width: 100%;
  height: 154px;
}

@media (min-width: 768px) {
  .repair-elements {
    height: 430px;
  }
}

.repair-elements__item {
  height: 72px;
  width: 240px !important;
  margin-top: 24px;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 1px 0 #eaeaea, 0 1px #eaeaea, -1px 0 #eaeaea, 0 -1px #eaeaea;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .repair-elements__item {
    width: 224px !important;
    margin-right: 24px;
    padding-right: 16px;
  }

  .repair-elements__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media (min-width: 1440px) {
  .repair-elements__item {
    width: 240px !important;
    margin-right: 32px;
  }

  .repair-elements__item:nth-child(4n) {
    margin-right: 0;
  }
}

.repair-elements__wrap {
  display: flex;
  padding-right: 16px;
  height: 72px;
  justify-content: space-between;
  align-items: center;
  margin-left: 16px;
}
@media (min-width: 768px) {
  .repair-elements__wrap {
    padding-right: 0;
    width: 208px;
  }
}

@media (min-width: 768px) {
  .repair-elements__list {
    display: flex;
    width: 770px;
    height: 194px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;

    overflow: hidden;
  }
}

@media (min-width: 1440px) {
  .repair-elements__list {
    width: 1056px;
    height: 194px;
  }
}
.repair-elements__list--visible {
  overflow: visible;
}

.repair-elements__item:nth-child(12) {
  order: 11;
  display: none;
}

@media (min-width: 768px) {
  .repair-elements__item:nth-child(12) {
    display: block;
    visibility: hidden;
  }
}

.repair-elements__expand--margin-top-small {
  margin-top: 100px;
}

.repair-elements__expand--margin-top-big {
  margin-top: 180px;
}

.repair-elements__button-wrapper {
  width: 770px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1440px) {
  .repair-elements__button-wrapper {
    width: 1056px;
  }
}
