.wrap {
  display: flex;
  align-items: center;
}

.wrap--space {
  justify-content: space-between;
}

.wrap__button {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .wrap__button-one {
    margin-left: 20px;
    /*20px*/
  }
}

@media (min-width: 1440px) {
  .wrap__button-one {
    margin-left: 8px;
    /*8px*/
  }
}

.wrap__button-two {
  margin-left: 16px;
}

@media (min-width: 1440px) {
  .wrap__option_text-1 {
    margin-left: 390px;
  }

  .wrap__option_text-2 {
    margin-left: 32px;
  }
}

.wrap__logo {
  margin-left: 16.73px;
}
